@model Person

<form asp-action="Add" method="post">
    <input asp-for="Name" placeholder="Name" required />
    <span asp-validation-for="Name" class="text-danger"></span>

    <input asp-for="PhoneNumber" placeholder="Phone" required />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

    <input asp-for="Email" placeholder="Email" required />
    <span asp-validation-for="Email" class="text-danger"></span>

    <button type="submit">Add Person</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
