@model IndexViewModel

<form asp-action="Add" method="post" asp-route-selectedHandler="@Model.SelectedHandler">
    <input asp-for="NewPerson.Name" placeholder="Name" required />
    <input asp-for="NewPerson.PhoneNumber" placeholder="Phone" required />
    <input asp-for="NewPerson.Email" placeholder="Email" required />
    <button type="submit">Add Person</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
