@model IndexViewModel

@{
    ViewData["Title"] = "People Manager";
}

<h2>Phonebook</h2>

<!-- Search Form -->
<partial name="SearchForm"/>

<!-- Add Person Form -->
<partial name="AddPersonForm" />

<!-- People list -->
<div id="peopleListContainer">
    <partial name="PeopleList" />
</div>

@if (TempData["Error"] != null)
{
    <p style="color: red;">@TempData["Error"]</p>
}
