@model IndexViewModel
@{
    ViewData["Title"] = "People Manager";
}

<h2>Phonebook</h2>

<!-- Search Form -->
<partial name="SearchForm"/>

<!-- Add Person Form -->
<partial name="AddPersonForm" model="Model.NewPerson" />

<!-- Add Switch Handler Form -->
<partial name="SwitchDatabaseHandler" />

<!-- People list -->
<div id="peopleListContainer">
    <partial name="PeopleList" model="Model.People" />
</div>

@if (TempData["Error"] != null)
{
    <p style="color: red;">@TempData["Error"]</p>
}
